*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header{
	font-family: 'DM Sans', 'sans-serif';
}
.top__text{
	position: absolute;
	height: 33px;
	left: 11.11%;
	right: 11.11%;
	top: 24px;
}
.text__right{
	position: absolute;
	height: 33px;
	left: 67.41%;
	right: 0%;
	top: 0px;
}

/*----TOP_TEXT----*/

.about{
	position: absolute;
	height: 26px;
	left: 53.7%;
	right: 30.14%;
	top: 6px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}
.work{
	position: absolute;
	height: 26px;
	left: 0%;
	right: 86.3%;
	top: 6px;

	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}
.contact{
	position: absolute;
	height: 26px;
	left: 78.63%;
	right: 0%;
	top: 6px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}
.services{
	position: absolute;
	height: 26px;
	left: 22.47%;
	right: 55.07%;
	top: 6px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}
.indicius{
	color: #FFFFFF;
	font-size: 24px;
	text-align: left;
}

/*----SLOGAN_TEXT----*/

.slogan{
	position: absolute;
	height: 202px;
	left: 11.11%;
	right: 11.11%;
	top: calc(50% - 202px/2 - 0.5px);
	font-family: 'Archivo', 'sans-serif'
}
.slogan__text{
	margin: 299px 160px;
	width: 1120px;
	height: 202px;
}
.text__white{
	position: absolute;
	height: 135px;
	left: 0%;
	right: 47.95%;
	top: -3px;
	font-family: Archivo;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 67px;

	letter-spacing: 1.12px;

	color: #FFFFFF;
}
.top{
	position: absolute;
	height: 81px;
	left: 0%;
	right: 0%;
	top: 0px;
	border-radius: 0px;
}
.container{
	width: 1400px;
	height: 800px;
	overflow: hidden;
	background: #3098F3;
}
.zer-container{
	background-color: #3098F3;
	width: 1400px;
	height: 80px;
}
.team__box{
	position: absolute;
	height: 392px;
	left: 11.11%;
	right: 11.11%;
	top: 960px
}
.team{
	background-color: #fff;
}
.team__text{
	position: absolute;
	height: 303px;
	left: 0%;
	right: 58.04%;
	top: 43px;

	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 50px;
	width: 470px;
	height: 300px;


	color: #05051E;
}